html, body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
}

.page {
  width: 320px;
}

.calc__result,
.calc__form input {
  text-align: right;
}

